#Slider-{{ section.id }} {
  gap: 24px;
}

.collection-grid {
  padding: 28px 0 16px;
}

/* Heading */
.collection-grid__heading {
  margin-top:0;
}

.slider-component .grid__item {
  display: flex;
  flex-direction: column;
  height: auto;
}

.collection-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 100%;
  background: var(--card-bg);
  border-radius: var(--card-radius);
  overflow: hidden;
  position: relative;
  /* margin-top:20px; */
}
.collection-card::after{
  content:"";
  position:absolute;
  inset:0;
  border:1px solid #C0C0C0;
  border-radius:inherit;
  pointer-events:none;
}

.collection-card__image-wrapper{
  position: relative;
  width: 100%;
}

.collection-card__image-wrapper::before{
  content:"";
  display:block;
  padding-bottom: var(--ratio);
}

.collection-card__image{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
}
/* Content */
.collection-card__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.collection-card__title {
  font-size: 17px;
  margin-bottom: 10px;
}

.collection-card__description {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  flex-grow: 1;
}
.collection-card__button {
  display: block;
  text-align: center;
  padding: 12px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin-top: auto;
  background: var(--btn-bg);
  border-radius: var(--btn-radius);
  transition: filter .2s ease;
}

.collection-card__button:hover{
  filter: brightness(0.9);
}

/* Count */
.collection-card__count {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  color: #888;
}
@media (max-width: 480px){
  .collection-grid {
    padding: 21px 0px 12px; 
  }
}